
.contaner3{
  overflow: auto;

}

.information {
 float:right;
 padding-right: 180px;
 padding-top: 0PX;
 height: 100px;
 width:300px;
 text-align: justify;
 line-height: 1.9;
 font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;

 }

.titulo2{
  margin-bottom: 0;
}
 .titulo3{
font-size: 40px;
margin-top: 0px;

 }

 .contaner4{
   overflow: auto;
 }
.info {
  float:left;
  padding-left: 120px;
  padding-top: 0PX;
  height: 100px;
  width:300px;
  text-align: justify;
  line-height: 1.9;
  font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  }
 .video2{
   float: right;
 }
 .titulo4{
   margin-bottom: 0;
 }
  .titulo5{
 font-size: 40px;
 margin-top: 0px;
}

footer{
background: #333447;
margin-top: 40px;
overflow: hidden;
}

ul{

  text-decoration: none;
}

 li{
  display:inline block;
 list-style: none;
    }
.title1{
  text-align: center;
}
  .block1{
    float: left;
  }
  .block2{
    float: left;
  }
  .block3{
    float: left;
  }
  .block4{
    float: left;
  }
=======
  .a1{
    color:#728099 ;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 70px;
    text-decoration: none;

}
/*cuadro morado*/
.box_grape{
  background-color: #76278F;
  position:absolute;
  width: 100%;
  height: 90%;
  margin-top: 610px;
  left: 0;

.autor {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  text-align: center;
}

/*imagen del celular*/
.phone{
  position: relative;
  width: 400px;
  height: 500px;
  float: right;
  margin-right: 180px;
  margin-top: 80px;
}
/*titulos*/
.text{
  font-family: 'Montserrat', sans-serif;
  color:white;
  margin-top: 100px;
  margin-left: 140px;
  line-height: 25px;
}
/* ultimo cuadro con imagen*/
.box_blanco{
  background-color: white;
  position:absolute;
  width: 100%;
  height: 90%;
  margin-top: 1198px;
  left: 0;
}
/*videos*/
.text_video{
font-family: 'Montserrat', sans-serif;
margin-left: 140px;

}
iframe{
  position:absolute;
  right: 0;
  top: 0;
}
/*salida*/
